.bg-box {
    background-color: #29700a;
    width: 1162px;
    height: 658px;
    background-image: url(./img/lamp.png), url(./img/hedgehog.webp), url(./img/grass.png), url(./img/donut.png), url(./img/photo.webp);
    background-size: 47px, 31px, 268px, 33px, 582px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y, no-repeat;
    background-position: top, left, bottom, right, center;
}